.headerContainer {
  top:0;
  height: 3.5em;
  background: lightblue;
  text-align: center;
  z-index: 3;
}

.headerContent {
  display: flex;
  gap: 45%;
  padding-top: 20px;
  padding-left: 32px;
}
.headerTranslation {
  display: flex;
  position: absolute;
  right: 34px;
  gap: 6px;
}